.AB {
    background-color: #CCC;
    color: black;
}

.AC {
    background-color: var(--green);
    color: white;
}

._AC {
    background-color: greenyellow;
    color: black;
}

.WA {
    background-color: var(--red);
    color: white;
}

.TLE, .MLE {
    background-color: #CCC;
    color: black;
}

.OLE, .IR, .RTE, .OTH {
    background-color: #FAB623;
    color: black;
}

.CE {
    background-color: #CCC;
    color: black;
}

.IE {
    background-color: var(--red);
    color: black;
}

.QU, .G {
    background: var(--panel);
    color: var(--text);
}

.judge-online {
    color: var(--green);
}

.judge-offline {
    color: var(--red);
}
